@config '../../tailwind.config.ts';
@import 'tailwindcss';

:root {
  --title: #222222;
  --subtitle: #6a6a6a;

  --grayscale-25: #f7f7f7;
  --grayscale-50: #edeef2;
  --grayscale-100: #e0e0e5;
  --grayscale-200: #c6c8cf;
  --grayscale-300: #b3b5bc;
  --grayscale-400: #9fa0a7;
  --grayscale-500: #84858c;
  --grayscale-600: #707177;
  --grayscale-700: #5c5d61;
  --grayscale-800: #49494c;
  --grayscale-900: #323236;

  --primary-100: #fee5ee;
  --primary-200: #fdb3d1;
  --primary-300: #f97fb4;
  --primary-400: #f64b97;
  --primary-500: #e60e68;

  --secondary-red-400: #ff4d4d;
  --secondary-red-500: #e80000;
}

@theme inline {
  --font-pretendard: var(--pretendard);

  /* Title */
  --color-title: var(--title);
  --color-subtitle: var(--subtitle);

  /* Grayscale */
  --color-grayscale-25: #f7f7f7;
  --color-grayscale-50: #edeef2;
  --color-grayscale-100: #e0e0e5;
  --color-grayscale-200: #c6c8cf;
  --color-grayscale-300: #b3b5bc;
  --color-grayscale-400: #9fa0a7;
  --color-grayscale-500: #84858c;
  --color-grayscale-600: #707177;
  --color-grayscale-700: #5c5d61;
  --color-grayscale-800: #49494c;
  --color-grayscale-900: #323236;

  /* Primary */
  --color-primary-100: #fee5ee;
  --color-primary-200: #fdb3d1;
  --color-primary-300: #f97fb4;
  --color-primary-400: #f64b97;
  --color-primary-500: #e60e68;

  /* Secondary Red */
  --color-secondary-red-400: #ff4d4d;
  --color-secondary-red-500: #e80000;
}

body {
  color: var(--color-title);
  font-family: var(--font-pretendard);
  box-sizing: border-box;
}
